@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
      @apply scroll-smooth;
    }
    .input{
      @apply outline-none bg-slate-400/10 h-16 rounded-lg border-b px-3 md:px-6 py-4 border-[#242424]  text-[#a2c495]/70 placeholder:text-[#a2c495]/70 transition-all focus:border-[#a2c495]/40 focus:text-[#a2c495]/80 hover:border-[#a2c495]/40
    }
    .inputbtn{
      @apply outline-none bg-[#a2c495]/70 h-10 rounded-full border-b border-[#354931]  text-[#354931] placeholder:text-gray-500 transition-all focus:border-[#354931]/40 focus:text-[#354931]/80 hover:border-[#354931]/40 w-32
    }
  }
  
  .MuiDateCalendar-root{
    
    background-color: white;
    border-radius: 10px;
  }
  
  .css-1qs309j-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
    will-change: background-color;
    background-color: #437033;
}
.css-1qs309j-MuiButtonBase-root-MuiPickersDay-root:focus.Mui-selected {
  will-change: background-color;
  background-color: #6d8667;
}
.css-1qs309j-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  color: #fff;
  background-color: #6d8667;
}
.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
background-color: #437033;
}
.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover {
  
  background-color: #437033;
}
.css-7oawqu-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:focus {
  
  background-color: #437033;
}

.css-1beqopj-MuiPickersYear-yearButton.Mui-selected {
  color: #fff;
  background-color: #437033;
}
.css-1beqopj-MuiPickersYear-yearButton.Mui-selected:focus {
  color: #fff;
  background-color: #437033;
}
.css-1beqopj-MuiPickersYear-yearButton.Mui-selected:hover {
  color: #fff;
  background-color: #437033;
}

.MuiButtonBase-root:hover{
  background-color: rgba(119, 180, 88, 0.521);
}